<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
           
 	<context:component-scan base-package="com.drms"></context:component-scan>
	
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
			</list>
		</property>
	</bean>

	<mvc:resources mapping="/resources/**" location="/resources/" />
 
	<mvc:annotation-driven />
	
	<bean id="dataSource" 
	         class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/drmsweb" />
		<property name="username" value="admin" />
		<property name="password" value="admin" />
	</bean>
	
	<!-- Hibernate session factory -->
	<bean id="sessionFactory"
	  class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource" />
	    <property name="packagesToScan" value="com.drms.model" />
	    <property name="hibernateProperties">
	        <props>
	            <!--  <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>-->
	            <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
	        	<prop key="hibernate.show_sql">true</prop>
	        </props>
	    </property>
	</bean>
	
	<tx:annotation-driven/>
    
	<bean id="transactionManager"
	  class="org.springframework.orm.hibernate5.HibernateTransactionManager">
	    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	 
	<bean id="persistenceExceptionTranslationPostProcessor"
	  class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
	
	
</beans>